<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <connectionStrings>
    <add name="db"
         connectionString="Data Source=(local);Initial Catalog=NHibernateDeepDive;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d %p %m%n" />
      </layout>
    </appender>

    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>

  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


  <system.serviceModel><serviceHostingEnvironment aspNetCompatibilityEnabled="true" /></system.serviceModel></configuration>
